<header>
    <ul>

        <li ui-sref-active="active">
            <a ui-sref="new-interview" ng-click="vm.collapseNavbar()">
                <span class="glyphicon glyphicon-new-window"></span>
                <span class="hidden-sm">New Interview</span>
            </a>
        </li>

        <li ui-sref-active="active">
            <a ui-sref="list-interview" ng-click="vm.collapseNavbar()">
                <span class="glyphicon glyphicon-th-list"></span>
                <span class="hidden-sm">Interviews</span>
            </a>
        </li>

    </ul>
</header>